/node_modules
/dist

# dependencies
/example/node_modules
/example/pnp
/example/pnp.js

# testing
/example/coverage

# production
/example/build

# misc
/example/DS_Store
/example/env.local
/example/env.development.local
/example/env.test.local
/example/env.production.local

/example/npm-debug.log*
/example/yarn-debug.log*
/example/yarn-error.log*
