// === COLORS ===
$primary-color: #fff;
$side-menu-background-color: #262f3d;
$sub-menu-background-color: #19212b;
$icon-color: $primary-color;

// === SIZES ===
$menu-width: 24.5rem;
$menu-expanded-width: 6rem;
$icon-size: 2rem;
$small-margin: 2rem;
$x-small-margin: 1rem;
$tiny-margin: 0.5rem;
$medium-font-size: 1.6rem;
$tiny-font-size: 1.1rem;
$scroll-bar-width: 0.8rem;
$scroll-bar-border-radius: 0.8rem;

// === FONTS ===
$default-font-family: Roboto, "Helvetica Neue", sans-serif;
$title-font-family: "Google Sans", sans-serif;

// === BOX SHADOW ===
$box-shadow: 0 1px 0 #404854;

// ===  BORDER ===
$scroll-bar-border: 2px solid #262f3d;
