body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main {
  flex: 1;
  min-height: 100vh;
}

.nav-bar {
  min-height: 4.5rem;
  font-size: 1.4rem;
  width: 100%;
  padding: 0 1rem;
  background-color: #faf9f9;
  box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar__left,
.nav-bar__right {
  display: flex;
  align-items: center;
}

.label {
  font-size: 1.2rem;
  margin-right: 1.5rem;
}

.btn-menu {
  height: 5.5rem;
  width: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;
  margin-right: 2rem;
}

.btn-menu__icon {
  height: 2rem;
  width: 2rem;
  color: #000;
  margin: 0;
}

.btn-menu:hover {
  box-shadow: 0 1rem 2rem rgba(#000, 0.2);
}

.title {
  color: #000;
}

.path {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 2rem;
}

/*
.nav-container {
  background-color: #db3d44;
}

.sub-menu {
  background-color: #ff6666;
}

.sub-menu__item--active,
.sub-menu__item:hover,
.sub-menu__item:visited,
.menu-item--active,
.menu-item > *:first-child:hover {
  background-color: #af3136;
}

.nav-container__header,
.side-menu,
.menu-item {
  box-shadow: 0 1px 0 #fff !important;
}
*/
